{% load static %}

<div class="empty-chat">
    <img src="{% static 'imgs/logo.png' %}" alt="Logo" class="main-logo">
    <h2>Xatto Web</h2>
    <p>Envie e receba mensagens instantaneamente</p>
    <div class="features">
        <div class="feature-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#25D366"
                viewBox="0 0 24 24">
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2m-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" />
            </svg>
            <span>Criptografia ponta-a-ponta</span>
        </div>
    </div>
</div>