{% load static %}
{% load humanize %}

<div class="chat-app" data-chat-slug="{{ chat.slug }}">
  <div class="chat-header">
    <div class="header-content">
      {% if not chat.is_private %}
      <img src="{{ chat.image.url }}" alt="Grupo" class="profile-pic group" />
      {% else %}
      {% for member in chat.participants.all %}
      {% if member != request.user %}
      <div class="user-profile">
        <img src="{{ member.photo.url }}" alt="{{ member.username }}" class="profile-pic" />
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

      <div class="user-info">
        {% if not chat.is_private %}
        <h2 class="chat-title">{{ chat.name }}</h2>
        <span class="members-count">{{ chat.participants.count }} membros</span>
        {% else %}
        {% for member in chat.participants.all %}
        {% if member != request.user %}
        <div class="user-status">
          <h2 class="username" id="js-other-user-username" data-user-slug="{{ member.slug }}">{{ member.username }}</h2>
          <span class="status" id="js-status"
            style="color: {% if member.status == 'on' %}green{% else %}#333{% endif %};">
            {% if member.status == "on" %}
              {{ member.get_status_display}}
            {% else %}
              {{ member.updated_at|naturalday }}, às {{ member.updated_at|date:"H:i" }}
            {% endif %}
          </span>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="chat-messages">
    {% for msg in messages %}
    <div class="message-container {% if msg.sender == request.user %}sent{% else %}received{% endif %}"
      style="opacity: 1; transform: none;">
      <div class="message-bubble">
        <p>{{ msg.content }}</p>
        <div class="message-info">
          <span class="time">{{ msg.timestamp|time:'H:i' }}</span>
        </div>
      </div>
    </div>
    {% empty %}
    <div id="div-first-msg">
      <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <style>
          .bubble {
            fill: #6c63ff;
            opacity: 0.8;
            animation: float 4s ease-in-out infinite;
          }

          .bubble:nth-child(2) {
            fill: #4e94f9;
            animation-delay: 1s;
          }

          .bubble:nth-child(3) {
            fill: #42d6a4;
            animation-delay: 2s;
          }

          @keyframes float {
            0% {
              transform: translateY(0);
              opacity: 0.8;
            }

            50% {
              transform: translateY(-20px);
              opacity: 1;
            }

            100% {
              transform: translateY(0);
              opacity: 0.8;
            }
          }
        </style>
        <circle class="bubble" cx="50" cy="150" r="15" />
        <circle class="bubble" cx="100" cy="160" r="10" />
        <circle class="bubble" cx="150" cy="140" r="12" />
      </svg>

      <small id="first-message" style="font-size: 16px;font-weight: 500;">Mande um "Oi!" para</small>
    </div>
    {% endfor %}
  </div>

  <div class="chat-input">
    <div class="input-container">
      <input type="text" placeholder="Digite sua mensagem..." id="chat-message-input" />
      <button id="js-chat-input-button" class="send-btn">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" fill="currentColor" />
        </svg>
      </button>
    </div>
  </div>
</div>

<script src="{% static 'js/chat/room.js' %}"></script>